@keyframes App-logo-spin {
  0% {
      transform: rotate(0deg)
  }

  to {
      transform: rotate(360deg)
  }
}

.App {
  text-align: center
}

body {
  background: #fff;
  margin: 0 auto
}

.App-logo {
  height: 40vmin;
  pointer-events: none
}

@media (prefers-reduced-motion:no-preference) {
  .App-logo {
      animation: App-logo-spin infinite 20s linear
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #fff
}

.App-link {
  color: #61dafb
}

.hero-blended {
  max-width: 420px
}

svg.algosend-icon,svg.r-ff-icon {
  display: none
}

.pipeline-rmd-icon {
  color: #3f3d4b!important;
  padding: 2px!important
}

.modal-close .pipeline-box:hover {
  background-color: #e8e8e8!important;
  border-radius: 90px!important
}

.modal-close .pipeline-box:active {
  border-radius: 90px!important;
  background-color: #ccc!important
}

.algosend-outline {
  color: #fff!important;
  background: #1c1ce1!important
}

.algopay-type,h3#snoopy {
  margin-bottom: 0;
  font-weight: 400
}

.algopay-type {
  box-sizing: border-box;
  font-size: 16px;
  line-height: unset;
  margin-top: 0;
  display: flex;
  align-items: center
}

.algopay-logo {
  margin-right: .5rem
}

.algosend-outline:hover {
  color: #fff;
  background: rgba(28,28,225,.8)!important
}

.algosend-outline:active {
  color: #fff;
  background: #1616b4!important
}

.algopay,.algopay:before {
  border-color: #ccc!important;
  box-shadow: none!important
}

.algopay {
  --main-color: #fff;
  border-style: solid!important;
  border-width: 1px!important;
  max-width: 400px!important;
  width: 98%;
  color: #333!important
}

.algopay:active,.algopay:hover {
  border-color: #ccc!important;
  border-width: 1px!important
}

.algopay:hover {
  background-color: #f3f2f2!important;
  box-shadow: rgb(0 0 0/20%) 0 2px 4px!important
}

.algopay:active {
  background-color: #e4e4e4!important
}

.algopay:before {
  --main-color: transparent
}

.algosend-outline {
  min-width: 10rem
}

.algoexplorer {
  text-decoration: underline!important;
  margin-right: 12px
}

.algoexplorer:hover {
  text-decoration: none!important
}

.algoflex3 {
  padding-left: 20px;
  padding-right: 20px
}

.algo-flex {
  background: 0 0;
  max-width: 500px;
  width: 98%!important;
  display: flex;
  justify-content: center;
  min-width: 250px;
  flex-direction: column
}

.algoexplorer,.text-progress {
  font-size: 14px!important
}

.text-progress {
  margin-right: 6px
}

@media (max-width:400px) {
  .algoexplorer,.text-progress {
      font-size: 12px!important
  }

  .modal-close-2 {
      margin-left: -.1rem !important;
      width: 0px !important;
      height: 48px !important
  }
}

@media (max-width:400px) {
  .footer.primary {
      font-size: .6rem !important
  }
}

@media (max-width:400px) {
  .pipeline-rmd-icon {
      width: 20px;
      height: 20px;
      margin-top: -.3rem!important
  }
}

.algo-btn-solid {
  width: 85%!important;
  display: flex!important;
  max-width: 400px!important;
  min-width: 200px!important;
  border-style: solid;
  border-width: 1px;
  box-shadow: none!important;
  margin-top: .6rem;
  margin-bottom: .6rem;
  border-color: #41404f;
  flex-direction: column;
  align-content: center;
  flex-wrap: nowrap
}

@media (max-width:400px) {
  .algopay-header-logo {
      width: 60%!important;
      padding: 2px!important
  }
}

button.Box__StyledBox .modal-close {
  width: 30px!important
}

.algoflex2 {
  display: flex;
  flex-direction: column;
  padding: 12px 20px 0
}

.algo-btn-solid:before {
  width: 85%!important;
  display: flex!important;
  max-width: 400px!important;
  min-width: 200px!important;
  border-style: solid;
  border-width: 1px;
  box-shadow: none!important;
  margin-top: .6rem;
  margin-bottom: .6rem;
  border-color: #41404f
}

.algo-btn-solid:hover {
  box-shadow: 0 2px 4px rgb(0 0 0/20%)!important
}

.le-flash {
  margin-top: 10px!important;
  margin-bottom: 10px!important
}

h3#snoopy {
  position: relative;
  min-height: .8em;
  background: #f8f8f9;
  padding: .8em 1.2em;
  line-height: 1.4285em;
  color: rgba(0,0,0,.8);
  transition: opacity .1s ease,color .1s ease,background .1s ease,box-shadow .1s ease;
  border-radius: .28571429rem;
  overflow-wrap: break-word!important;
  flex-flow: wrap;
  white-space: normal;
  box-shadow: inset 0 0 0 1px rgb(34 36 38/22%),0 0 0 0 transparent;
  font-family: source-code-pro,Menlo,Monaco,Consolas,"Courier New",monospace;
  font-size: small;
  text-align: left;
  margin-bottom: .5rem
}

.footer.primary {
  background-color: #ededed;
  color: #9e9b9b!important
}

.footer-link {
  color: #9e9b9b!important;
  transition: .4s
}

a.footer-link:hover {
  color: #000!important;
  transition: .4s
}

.algosend-outline {
  margin-top: 0;
  box-shadow: none!important;
  max-width: 450px!important;
  width: 98%!important
}

.algosend-outline:hover {
  box-shadow: 0 2px 4px rgb(0 0 0/20%)!important
}

.r-ff-icon {
  margin: unset!important;
  padding: 8px!important
}

.algopay-header-logo {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  width: 100%;
  flex-flow: column
}

.footer,.higher-header-container {
  display: flex;
  align-items: center;
  max-width: 500px
}

.footer {
  height: 25px;
  bottom: 0;
  font-size: .7rem;
  color: #000;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px
}

.higher-header-container {
  background-color: #f3f3f3;
  width: 100%;
  height: 90px;
  justify-content: center;
  min-width: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #e8e8e8
}

.pipeline-h3 {
  padding-top: 0;
  margin-top: 0
}